<nav class="navbar">
    <ul>
        <li class="navbar-nav">
            <a class="navbar-link" routerLink="/" href="" id="link1" #link1>Exercice 1</a>
        </li>
        <li class="navbar-nav">
            <a class="navbar-link" href="Exo2" routerLink="Exo2" id="linktwo" #link2>Exercice 2</a>
        </li>
        <li class="navbar-nav">
            <a class="navbar-link" href="Exo3" routerLink="Exo3" id="link3" #link3>Exercice 3</a>
        </li>
    </ul>
    <span id="time" #time>{{timeDetail[0]}} {{timeDetail[1]}}</span>
</nav>
